// This file is included in the build if src/main.js imports
// either app.mat.styl or app.ios.styl.
// Check "DEFAULT / CUSTOM STYLE" in src/main.js

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the app.ios.styl or app.mat.styl files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #51bcda
$primary-1   = lighten($primary,80%)
$primary-2   = lighten($primary,60%)
$primary-3   = lighten($primary,40%)
$primary-4   = lighten($primary,20%)
$primary-5   = #51bcda
$primary-6   = darken($primary,10%)
$primary-7   = darken($primary,20%)
$primary-8   = darken($primary,30%)
$primary-9   = darken($primary,40%)
$secondary = #B7CECE
$tertiary  = #F7F9F9
$quaternary  = #3D5A6C
$quinary  = #454850

$neutral   = #E0E1E2
$positive  = #454850
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$light     = #f4f4f4
$dark      = #333
$faded     = #777

$text-color          = lighten(black, 17%)
$background-color    = white

$link-color          = lighten($primary, 25%)
$link-color-active   = $primary

// App Specific Variables
// --------------------------------------------------
$card-title-background-color = $tertiary
$card-title-text-color = darken($tertiary,50%)
$background-color = lighten(#fbf9f2, 60%)